/* Favervariabler til websiden */

:root{
	
	--text-header: black;
	--text-color: white;
	--button-color: #3B4663;

	/* reserved for potenially other boxes 
	--button-two: rgba();
	*/

	--drop-shadow-on-boxes: #B2BACD;
	--border-color: #22293A;

}