span, a{
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.m-basic, .m-social-content, .m-sector-output, .m-edu-output, .m-work-output{
  background-color:  var(--text-background-color);
  border-radius: 5px;
  width: 100%;
}

@media only screen and (min-width: 415px) {
  
  label{
    width: 99.4%;
  }
  .m-sector-title{
		width: 99.7%;
	}
}
