/* Indholdfortegnelse:

	1. Overskrifter og billede
	2. div'er
	3. input
	4. pressable ting
	5. labels
	6.
	7.
	8.
	9.
	10.
	11.

  */

@import url('colors.css');

/* 1 */
h1 {
	font-size: 40px;
	margin-bottom: 10px;
}
h2 {
	font-size: 26px;
}
h3 {
	font-size: 20px;
}
.a-titles {
	display: flex;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
}

img {
	display: flex;
	justify-content: center;
	width: 70%;
	margin: auto;
	margin-bottom: 40px;
}

#watermark {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

#watermark>img {
	width: 80px;
	margin-bottom: 0px;
	margin: 0;
}

/* 2 */
div {
	margin-bottom: 20px;
}

.a-basic, .a-social {
	display: flex;
	flex-direction: column;
}

.t-basic-social, .t-img-social, .m-sectors {
	margin-bottom: 70px;
}

.m-edu, .m-work {
	display: flex;
	flex-direction: column;
	margin-bottom: 45px;
}

.m-sectors {
	display: flex;
	flex-direction: column;
	max-height: 400px;
	width: 100%;
	align-content: space-around;
	flex-wrap: wrap;
	overflow-wrap: break-word;
}

.m-sector-container {
	margin-bottom: 10px;
	width: 40%;
}

/*
	One-page display handling
*/
.display-block {
	display: block;
}

.display-none {
	display: none;
}

.a-tab-edu-single, .a-tab-work-single{
	margin-bottom: 12px;
}


/* 3 */
input, textarea {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	width: 99.5%;
	border-color: #E8E8E8;
	border-radius: 5px;
}

textarea {
	resize: none;
}

.a-sector-checkbox {
	width: 10%;
}

/* 4 */
.a-tab-add-molecule {
	background-color: var(--button-hover-color);
	border: solid 1.2px var(--border-hover-color);
	justify-content: center;
	font-size: 1.5em;
	width: 20%;
	max-height: 4vh;
	cursor: pointer;
	margin-bottom: 30px;
}


.submit-button {
	background-color: var(--submit-hover-color);
	border: solid 1.2px var(--border-submit-hover-color);
	color: var(--text-color);
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	border-radius: 5px;
	width: 20%;
	height: 5vh;
	margin: auto;
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

/* 5 */
label {
	background-color: var(--button-color);
	color: var(--text-color);
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	padding: 1px;
	border-radius: 5px;
	min-width: 50%;
	height: 4vh;
	display: flex;
	justify-content: center;
	margin-bottom: 2px;
}

.a-label-checkbox {
	font-size: 0.9em;
	background-color: WHITE;
	color: BLACK;
	max-width: 70%;
	display: inline;
	overflow-wrap: break-word;
}

span, a {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.m-basic, .m-social-content, .m-sector-output, .m-edu-output, .m-work-output {
  background-color:  var(--text-background-color);
  border-radius: 5px;
  width: 100%;
}

.m-sector-output {
	width: 75%;
	margin: auto;
}

/*  STYLES FOR NON-MOBILE  */
@media only screen and (min-width: 415px) {

	.t-basic-social, .t-social, .t-edu-work{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;

	}
	.t-img-social{
    display: flex;
    flex-direction: column;
    align-items: center;
  }


	.m-edu, .m-work, .t-basic, .m-social{
		width: 30%;
	}

	input {
		font-size: 15px;
		width: 100%;
	}
	textarea {
		width: 100%;
		height: 105px;
	}

	.a-tab-add-molecule {
		font-size: 1.5em;
		max-height: 4vh;
		width: 50%;
		background-color: var(--button-color);
		border: solid 1.2px var(--border-color);
	}

	.a-tab-add-molecule:hover, 	.a-tab-add-molecule:focus {
		background-color: var(--button-hover-color);
		border: solid 1.2px var(--border-hover-color);
	}

	.submit-button {
		background-color: var(--button-color);
		border: solid 1.2px var(--border-color);
		font-size: 1em;
	}

	.submit-button:hover, .submit-button:focus {
		background-color: var(--submit-hover-color);
		border: solid 1.2px var(--border-submit-hover-color);
	}

	label {
		font-size: 1.5em;
		height: 5vh;
		width: 100%;
		/*width: 99.4%;*/
	}

	.m-sector-title{
		width: 100%;
  		/*width: 99.7%;*/
	}

	.a-label-checkbox {
		font-size: 1.3em;
	}
}

@media only screen and (max-width: ) {

	body{}

}
