/* Indholdfortegnelse:

	1. Overskrifter
	2. div'er
	3. input
	4. pressable ting
	5. labels
	6.
	7.
	8.
	9.
	10.
	11.

  */

/* 1 */
h1{
	display: flex;
	justify-content: center;
	font-size: 40px;
}
h2{
	font-size: 30px;
}
h3{
	font-size: 20px;
}
.a-titles{
	font-family: 'Roboto', sans-serif;
}

img{
	width:
}

/* 2 */
div{
	margin-bottom: 20px;
}

.a-basic, .a-social{
	display: flex;
	flex-direction: column;
}

.t-basic-social, .t-img-social, .m-sectors{
	margin-bottom: 70px;
}
.m-tab-edu-single, .m-tab-work-single {
	display: flex;
	flex-direction: column;
}

.m-sectors{
	display: flex;
	flex-direction: column;
	max-height: 400px;
	width: 100%;
	align-content: space-around;
	flex-wrap: wrap;
	overflow-wrap: break-word;

}

.m-sector-container{
	margin-bottom: 10px;
	width: 40%;
}

/* 3 */
input{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	width: 100%;
	border-color: #E8E8E8;
	border-radius: 5px;

}
.a-sector-checkbox{
	width: 10%;
}

textarea{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	border-color: #E8E8E8;
	border-radius: 5px;
}

/* 4 */
.a-tab-add-molecule{
	background-color: var(--button-hover-color);
	border: solid 1.2px var(--border-hover-color);
	justify-content: center;
	font-size: 1.5em;
	width: 20%;
	max-height: 4vh;
	cursor: pointer;
	margin-bottom: 30px;

}


.submit-button{
	background-color: var(--submit-hover-color);
	border: solid 1.2px var(--border-submit-hover-color);
	color: var(--text-color);
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	border-radius: 5px;
	width: 20%;
	height: 5vh;
	margin: auto;
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

/* 5 */
label{
	background-color: var(--button-color);
	color: var(--text-color);
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	padding: 1px;
	border-radius: 5px;
	min-width: 100%;
	height: 4vh;
	display: flex;
	justify-content: center;
	align-self: center;
	margin-bottom: 2px;
}

.a-label-checkbox{
	font-size: 0.9em;
	background-color: WHITE;
	color: BLACK;
	max-width: 70%;
	display: inline;
	overflow-wrap: break-word;
}

.finished-CV{
	display:none;
}

@media only screen and (min-width: 415px){

	input{
		font-size: 15px;
	}

	.a-tab-add-molecule{
		font-size: 1.5em;
		max-height: 5vh;
		background-color: var(--button-color);
		border: solid 1.2px var(--border-color);
	}
	.a-tab-add-molecule:hover{
		background-color: var(--button-hover-color);
		border: solid 1.2px var(--border-hover-color);
	}

	.submit-button{
		background-color: var(--button-color);
		border: solid 1.2px var(--border-color);
		font-size: 1em;
	}
	.submit-button:hover{
		background-color: var(--submit-hover-color);
		border: solid 1.2px var(--border-submit-hover-color);
	}

	label{
		font-size: 1.5em;
		height: 5vh;
	}
}

@media only screen and (max-width: ){

	body{}

}
