/* Indholdfortegnelse:

	1. Font import
	2. Properties for overordnet elementer/molekyler
	3. Container-flex klasse og Main klasse
	4.
	5.
	6.
	7.
	8.
	9.
	10.
	11.

  */

/* 1. Properties for overordnet elementer/molekyler */


@import url('colors.css');


body{

	/*background-color: rgba(255,0,0,0.2);*/
	background-color: rgba(255,255,255,1.0);
}


main{


}


h1{

	color: var(--text-header);

}


p{

	color: var(--text-color);

}


/* 2. container-flex klasse */ 

.main{

	margin: auto;
	width: 80%;
	height: 100vh;
	background-color: rgba(255,255,255,0.1);

}


/*  */

section.m-introduction-text{

	margin: auto;
	width: inherit;
	height: 40vh;
	background-color: rgba(255,255,255,0.5);

}

div.a-introduction-container{

	width: 50%;
	height:30vh;
	margin: auto;
}

h1.a-introduction-text-header{

	margin: auto;
    text-align: center;
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
    color: var(--text-header);
}


button{

	background-color: var(--button-color);
	border-color: var(--border-color);
	color: var(--text-color);
	font-size: 2em;
	font-family: 'Roboto', sans-serif;
	border-radius: 10%;
	width: 50%;
	height: 5vh;

}

@media only screen and (max-width: 360px){

	body{}

}

@media only screen and (max-width: ){

	body{}
	
}

